.pm2
.bash_history
.cache
.ssh
.java
.viminfo
.wget-hsts
.motd_shown
.sudo_as_admin_successful
.bashrc_ext
dev
.aws
.ivy2
.azure
.kube
.docker
.m2
.vim
.gradle
lazy-lock.json
.dotnet
.gnupg
.landscape
.lazyssh
.lesshst
.profile
.python_history
.selected_editor
.vscode-server
.w3m
Downloads
etc
go
snap
var
